* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: black;
}
b #scrolltotop {
  border-radius: 18px;
  position: fixed;
  top: 88%;
  right: 5%;
  background-color: var(--bodycolor);
  z-index: 1;
  font-size: 1.2em;
  padding: 1%;
  cursor: pointer;
  display: none;
}
#scrolltotop:hover {
  background-color: var(--primary);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #f5f5f5;
  --bodycolor: grey;
}

header {
  height: 10vh;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div {
  width: 45%;
  margin-right: 1%;
}

.logo {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div img {
  height: 5vh;
}

.searchbox {
  flex-direction: column;
  position: relative;
}

.searchbox div {
  width: 100%;
}

.searchinput input,
.navcontainer div input {
  background-color: transparent;
  width: inherit;
  font-size: 1.2em;
  padding-left: 5%;
  border: none;
  border-bottom: groove;
  height: 5vh;
  color: black;
}

.searchinput :placeholder-shown {
  color: black;
}

.autocomplete {
  padding: 2%;
  overflow: auto;
  z-index: 1;
  position: absolute;
  background-color: var(--primary);
  height: 60vh;
  margin-top: 3%;
  display: none;
}

.autocomplete li {
  margin-bottom: 4%;
  font-size: 1.2em;
  font-weight: bold;
}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.langinput {
  width: 25%;
}

#language {
  width: 100%;
}

/*
header,
header div,
.navcontainer,
.navcontainer div nav ul {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    font-size      : 1.1em;

}

header div
{
    border: solid;
}

header {
    background-color: var(--primary);
    padding         : 1%;
}



.logo {
    width: 10%;
}

.navcontainer {
    margin-right: 10%;
    width       : 30%;

}

.navcontainer div {
    justify-content: flex-end;

}

.navcontainer div input,div input {
    font-size: 1.1em;

    width           : 12vw;
    padding         : 5%;
    border          : none;
    border-bottom   : groove;
    background-color: transparent;
}

.navcontainer div nav ul li {
    margin-left: 5%;
    cursor     : pointer;

}
div input
{
    width: inherit;
}
*/

main {
  background-color: var(--bodycolor);
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 30%));
  gap: 5%;
  padding: 2%;
  overflow: scroll;
  height: 90vh;
}

main div {
  display: flex;
  flex-direction: column;

  padding-left: 2%;

  background-color: var(--primary);
  font-size: 1.1em;
  cursor: pointer;
}

.title {
  font-size: 2em;
  margin-top: 1%;
}

.releaseat {
  color: #808080;
}

main div img {
  width: 95%;
  height: 70%;
}

.releaseat {
  margin-bottom: 5%;
}

.likeview {
  flex-direction: row;

  width: 100%;
  padding-left: 0;
  margin-bottom: 5%;
  margin-top: 5%;
}

.likeview span {
  margin-right: 20%;
  font-size: 1.1em;

  width: fit-content;
}

.moviedetail {
  display: flex;
  flex-direction: column;
  border: solid;
  margin: 1%;
}

.poster {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.movietitle {
  margin-bottom: 2%;
}

.overview {
  font-size: 1.5em;
}

.moviedetail p {
  font-size: 1.5em;
}

.hidelang {
  display: none;
}

.navcontainer div nav ul li :visited {
  border: solid red;
}
.notfound {
  width: 95vw;
  text-align: center;
  font-size: 5vw;
  height: fit-content;
  position: absolute;
  top: 40%;
  color: white;
}
.video {
  margin-bottom: 5%;
  background-color: transparent;
}
